<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="suericze.coordinatoreps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CoordinatorLayoutFloatingActivity" />
        <activity android:name=".tablayout.TablayoutActivity" />
        <activity android:name=".appbarlayout.AppBarLayoutActivity" />
        <activity android:name=".CollapsingToobar.CollapsingToobarActivity" />
        <activity android:name=".CusBehavior.MyCusBehaviorActivity"></activity>
    </application>

</manifest>